<!-- <img class="blured-img"src="/assets/users/hala3.jpg" alt=""> -->
<main>
    <i routerLink="/"  class="fa-solid fa-circle-arrow-left fa-2xl" style="color: #cfcfcf;"></i>
    <div class="container-fluid reg mt-4">
        <h1 class="">Create your Account</h1>
        <p class="paragraph">Create your personal account now to access all the exclusive benefits we have to offer</p>
    </div>

        <form action="" class="form">
            <div class="name input">
                <span>Name</span>
                <input type="text" name="" id="name" placeholder="Enter your name">    
            </div>

            <div class="surname input">
                <span>Surname</span>
                <input type="text" name="" id="surname"  placeholder="Enter Your surname">
               
            </div>
            <div class="e-mail input">
                <span>E-mail</span>
                <input type="text" name="" id="e-mail"  placeholder="Enter your e-mail">
            </div>

            <div class="password input">
                <span>Password</span>
                <input type="password" name="" id="password"  placeholder="********">
            </div>

            <div class="confirmation input">
                <span>Confirm Password</span>
                <input type="password" name="" id="password"  placeholder="********">
            </div>
        </form>

        <div class="final-button d-flex">
            <div class="checkbox d-flex ">

                <input type="checkbox" name="" id=""> Agree to the <span style="color:#7C511D">Terms of Use</span> and <span style="color:#7C511D">Privacy Policy</span>
            </div>
            <button type="button" class="btn btn-success">Create Account</button>
        </div>
</main>