<nav 
class="d-flex w-100"
data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">

  <ul class="menu-icon">
    <li class="line" id="line1"></li>
    <li class="line" id="line2"></li>
    <li class="line" id="line3"></li>
  </ul> 
  <span class="logo">MeetOver</span>
</nav>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">MeetOver</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="profile"><i class="fa-regular fa-user fa-2xl" style="color: #ffffff;"></i></div>
    <div class="profile"><i class="fa-regular fa-user fa-2xl" style="color: #ffffff;"></i></div>
    <div class="profile"><i class="fa-regular fa-user fa-2xl" style="color: #ffffff;"></i></div>
    
  </div>
</div>