<div class="main w-100">
    <div class="image-container">
        <span class="place-description">Countryside party venue</span>
    </div>
    <div class="top-icons">

        <i class="fa-regular fa-circle-left fa-2xl" style="color: #ffffff;" routerLink="/"></i>
        <i class="fa-brands fa-creative-commons-share fa-2xl" style="color: #ffffff;"></i>
        <i class="fa-regular fa-heart fa-2xl" style="color: #ffffff;"></i>
    </div>
<div class="images">
    <div class="small-image-overview" id="img1"></div>
    <div class="small-image-overview" id="img2"></div>
    <div class="small-image-overview" id="img3"></div>
    <div class="more-images-button">10 +</div>
</div>
    
    <div class="name-rating-container mt-1">
        <h1 class="place-name">HALA ODRA</h1>
        <div class="rating-container">
            <i class="fa-solid fa-heart fa-xl rate-heart" style="color: #7c511d;"></i>
            <div class="rating">4.7</div>
        </div>
    </div>
    <button type="button" class="btn btn-price">4000/night</button>
    <div class="overview-location-container mt-4">

        <div class="overview d-flex">
            <i class="fa-regular fa-building fa-2xl" style="color: #7c511d;"></i>
            <span style="color: #7c511d;">Overview</span>
        </div>

        <div class="vertical-line"></div>

        <div class="location d-flex">
            <i class="fa-solid fa-map-location-dot fa-2xl" style="color: #c2c2c2;"></i> 
            <span style="color: #c2c2c2;">location</span>
        </div>
    </div>
    <hr class="middle-part">
    <div class="description">

        <h3 class="descrption-writing p-1">Description</h3>
            <p class="paragraph-desc p-1">lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
            <details>
            <summary style="color: #7c511d;">
                Read more
            </summary>
            <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
        </details>
            
    </div>
    <footer>
        <button type="button" class="btn-rent mb-2">Rent this venue</button>
    </footer>
</div>
