<div class="main w-100">
    <div class="image-container">
        <span class="place-description">Countryside party venue</span>
    </div>
    <i class="fa-regular fa-circle-left fa-2xl" style="color: #ffffff;"></i>
    <i class="fa-brands fa-creative-commons-share fa-2xl" style="color: #ffffff;"></i>
    <i class="fa-regular fa-heart fa-lg fa-2xl" style="color: #ffffff;" ></i>
<div class="images">
    <div class="small-image-overview" id="img1"></div>
    <div class="small-image-overview" id="img2"></div>
    <div class="small-image-overview" id="img3"></div>
    <div class="more-images-button">10 +</div>
</div>
    
    <div class="name-rating-container mt-1">
        <h1 class="place-name">HALA ODRA</h1>
        <div class="rating-container">
            <i class="fa-solid fa-heart fa-xl rate-heart" style="color: #7c511d;"></i>
            <div class="rating">4.7</div>
        </div>
    </div>
</div>
