<form (ngSubmit)="onSubmit()" id="form">
    
    <div class="name element">
        <span>Enter venue's name</span>
        <input 
        type="text"  
        name="name"
        id="input-name" 
        [(ngModel)]="enteredName" 
        [ngModelOptions]="{standalone: true}"
        >
    </div>
    
    <div class="price element">
        <span>Enter venue's street</span>
        <input 
        type="text" 
        name="street"
        [(ngModel)]="enteredStreet" 
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="city element">
        <span>Enter venue's city</span>
        <input 
        type="text" 
        name="city"
        [(ngModel)]="enteredCity" 
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="city element">
        <span>Enter venue's price</span>
        <input 
        type="text" 
        name="price"
        [(ngModel)]="enteredPrice" 
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="image element">
        <span>Enter venue's image</span>
        <input 
        type="file" 
        name="image"
        (change)="onFileChange($event)" 
        
        >
    </div>

    <div class="description element">
            <span>Enter venue's description</span>
            <input 
            type="text"
            name="description"
            [(ngModel)]="enteredDescription" 
            [ngModelOptions]="{standalone: true}"
            >
        </div>

        <div class="infrastructure element">
            <span>Enter venue's infrastructure</span>
            <input 
            type="text" 
            name="infrastructure"
            [(ngModel)]="enteredInfrastructure" 
            [ngModelOptions]="{standalone: true}">
        </div>

    <div class="square-footage element">
        <span>Enter venue's square footage</span>
        <input 
        type="text" 
        name="square_footage"
        [(ngModel)]="enteredSquare_Footage" 
        [ngModelOptions]="{standalone: true}">
    </div>

        <button  type="submit" class="btn btn-primary">Confirm</button>

   
</form>