<main>
<app-navbar></app-navbar>
<div class="d-flex my-span">
  <span class="number-of-properties">x-properties</span>
  <i class="fa-solid fa-filter" style="color: #c7c7c7;"></i>
</div>

<div class="container-fluid ">
    <li *ngFor="let user of venues; let i = index;">
      <app-venue 
      [venue]="user"
      [uniOffcanvas]="'offcanvas' + i"
      [id]="user.id" 
      [description]="user.description"
      
      
      ></app-venue>
    </li>
</div>
  <button type="button" class="btn btn-primary" (click)="addVenue()">Add Venue</button>
  @if (checkVenue) {
    <app-add-venue (add)="onAddVenue($event)"></app-add-venue>
   }
  
   
  

</main>