
<div 
class="main-container " 
(click)="onSelectVenue()" 
>
<router-outlet></router-outlet>
<span class="badge text-bg-secondary d-flex"><i class="fa-solid fa-person" style="color: #b1b1b1;"></i>{{venue.no_people}}</span>
    <div 
    class="image-container"
    data-bs-toggle="offcanvas" 
    [attr.data-bs-target]="'#' + uniOffcanvas" 
    [attr.aria-controls]="uniOffcanvas"
    >
        <img [src]="imagePath">
        <div class="heart-icon">
            <i 
                class="fa-regular fa-heart fa-lg" 
                style="color: #63E6BE;" 
                (click)="$event.stopPropagation()"
                (click)="addToLiked($event);false"
                >
            </i>
        </div>
    </div>
    <div class="bottom-container p-2">
      <h2 class="name ">{{venue.name}} </h2>
      
      <span class="street-name ">{{venue.street}} </span>
      

      <div class="d-flex w-100 btn-container">
        <span class="infrastructure">{{venue.square_footage}}</span>
        
          <div class="button rent-button d-flex">Rent</div>
        
      </div>

    </div>
</div>



    <div 
    
    class="offcanvas offcanvas-start w-100" 
    data-bs-scroll="true" 
    tabindex="-1" 
    [id]="uniOffcanvas" 
    [attr.aria-labelledby]="uniOffcanvas + 'Label'">
    
      
        <img [src]="imagePath" class="offcanvas-header img" >     
     
     
      <button type="button" class="btn-exit"data-bs-dismiss="offcanvas" 
      aria-label="Close"><i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i></button>
      
      <div class="place">
        
        <h1 class="name-place">{{venue.name}}</h1>
        <p class="place-desc">Best place for larger parties</p>
      </div>

      <div class="offcanvas-body">
        <div class="buttons">
          <button type="button" class="email-button btn"><i class="fa-regular fa-envelope" style="color: #ffffff;"></i>Continue with e-mail</button>
          <button type="button" class="google-button btn"><i class="fa-brands fa-google" style="color: #DB4437;"></i>Continue with google</button>
        </div>
        <p>Don't have an account?
        <a routerLink ="Registration" class="sign-up">
          <span> Sign up</span>
        </a></p>
        <hr class="hr-line">
        <p class="privacy">By registering, you have agreed to our <span style="color:#7C511D;">terms of service</span> and <span style="color:#7C511D;">privacy policy</span></p>
      </div>
    </div>
