.main-container{
    height: 40vh;
    width:100%;
    border-radius: 15px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 0;
    /* animation: fadeOut 2s forwards;
    animation-timeline: scroll(); */
}
@keyframes fadeOut{
  from{opacity:1;}
  to{opacity: 0;}
}
.heart-icon {

    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    z-index: 999;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center; 
    align-content: center;   
    background-color: white; 
  }
 
.image-container {
    position: relative;
    width: 100%; 
    height: 65%; 
  }

.image-container img{
    object-fit: cover;
    width:100%;
    height:100%;
    position: relative;
    border-radius: 15px;
}
.bottom-container{
  width:100%;
  flex-direction: column;
}

.liked-heart{

  animation: like .5s ease-in;
}
@keyframes like {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
  
}


.name{
  color:#777777;
  font-weight: 600;
  font-size: 2rem;
  width:100%;
}

.street-name{
  color:#A1A1A1;
  font-weight: 600;
  font-size: 1rem;
}


.infrastructure{
  color:#999999;
  font-weight: 600;
  font-size: 0.7rem;
}

.description{
  height:max-content;
  width: 100%;
  justify-content: space-between;
}

.btn-container{
  justify-content: space-between;
}

.rent-button{
  width:90px;
  height:30px;
  border-radius: 15px;
  background-color: #878787;
  color:white;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}