<!-- <div class="input-group mb-3">
      <input list="places"
      type="text" class="form-control" placeholder="Find your Venue" aria-label="Recipient's username" aria-describedby="button-addon2">
      <datalist id="places">
        <option value="Weeding"></option>
        <option value="New Year"></option>
        <option value="Birthday"></option>
        <option value="Party"></option>
        <option value="Ballet"></option>
      </datalist>
       <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i> 
      
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
  </div> -->
  <h5>Find your venue</h5>
<div class="category">
    <div class="custom-category1 cat">Wedding</div>
    <div class="custom-category2 cat">New Year</div>
    <div class="custom-category3 cat">Birthday</div>
    <div class="custom-category4 cat">Party</div>
    <div class="custom-category5 cat">Ballet</div>
</div>
